{% extends "studentparent.html" %}
{% block body %}
{% if messages %}
   {% for message in messages %}
   <div class="alert alert-success alert-dismissible fade show w-50" role="alert">
      {{message}}
      <button type="button" class="btn close" data-dismiss="alert" aria-label="Close">
                 
                <span aria-hidden="true" style="font-size: 20px;color: brown">×</span>
            </button>
            </div>
   {% endfor %}
{% endif %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Change Password</h1>   
              <form method="post" action="{% url 'studentapp:changepassword'%}" class="form-group mt-5">
                {% csrf_token %}
                <table class=" table table-bordered text-light" style="width: 60%;margin:auto;">
                <tr>
                    <td>Enter Old Password</td>
                    <td><input type="password" name="oldpassword" class="form-control  text-light" required/></td>
                </tr>
                <tr>
                    <td>Enter new Password</td>
                    <td><input type="password" name="newpassword" class="form-control text-light" required/></td>
                </tr>
                <tr>
                    <td>Enter Confirm Password</td>
                    <td> <input type="password" name="confirmpassword" class="form-control text-light" required/></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                    <button type="submit" class="btn btn-warning">change password</button>
                    </td>
                    
                </tr>
                </table>
              </form>
        </div>
    </div>
{% endblock body %}
